body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1 {
    text-align: center;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
}

#messages ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#messages li {
    list-style-type: none;
    font-size:14px;
    max-width: 80%;
    margin-bottom: 10px;
    padding: 0.5rem;
    border-radius: 1rem;
    width: fit-content;
}

#messages li:nth-child(odd) {
    align-self: flex-end;
    background-color: #0084ff;
    color: white;
    background-position: bottom left;
    margin-left: 40%;
}

#messages li:nth-child(even) {
    align-self: flex-start;
    background-color: #f0f0f0;
    background-position: bottom right;
    color: black;
    margin-right: 40%;
}

/* #messages li::before {
    display:inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
} */

#messages li:nth-child(odd)::before,
#messages li:nth-child(even)::before {
    content: "";
    display:inline-block;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#messages li:nth-child(odd)::before {
    background-image: url('../images/user.jpeg');
}

#messages li:nth-child(even)::before {
    background-image: url('../images/ai.jpeg');
}

#messages li strong {
    font-weight: bold;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
}

button[type="submit"] {
    background-color: #0084ff; /* Change to your preferred color */
    color: white; /* Change to your preferred color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0063cc; /* Change to your preferred color */
}

button[type="submit"] .fa-paper-plane {
    margin-left: 5px;
}

#status {
    padding: 1rem;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
}